# Timeseries Pandas Dataframe Concater
<i>Combine multiple files of sliced data from single directory into one large Pandas DataFrame. Clean the amalgamated DataFrame to make the data uniform (no time gaps, no missing values, and no repetitive rows). Export finalized DataFrame as a .csv file into the working directory.</i>

In [1]:
# Import Necessary Libraries
import os
import numpy as np
import pandas as pd

In [2]:
# Change Current Working Directory to the Root Directory

# First find current path.
current_path = os.getcwd()

# Find the path of the Root Directory from the Current Working Directory
# Current Working Directory was made inside Root Directory
terminator = current_path.rfind('\\')
root_path = current_path[:terminator]

# Changing the Working Directory
os.chdir(root_path)

# Check
print(os.getcwd())

C:\Users\Jessica Yoon\Flatiron\Capstone

In [3]:
# Data Directory
path = 'archive/'
path_files = os.listdir(path)

# Check
print(len(path_files), 'Files in Directory')
path_files

8 Files in Directory

['BTCUSD_1.csv',
 'BTCUSD_10080.csv',
 'BTCUSD_1440.csv',
 'BTCUSD_15.csv',
 'BTCUSD_240.csv',
 'BTCUSD_30.csv',
 'BTCUSD_5.csv',
 'BTCUSD_60.csv']

In [4]:
# Loading Files in Directory into Dataframes
frames = []
for file in path_files:
    frames.append(pd.read_csv(path + file))

# Check
frames[0]

,time,open,high,low,close,tick_volume
0,2011-03-24 00:00:00,0.83,0.90,0.82,0.87,14009
1,2011-03-25 00:00:00,0.87,0.89,0.86,0.89,4819
2,2011-03-28 00:00:00,0.82,0.85,0.76,0.80,12565
3,2011-03-29 00:00:00,0.80,0.80,0.77,0.79,4215
4,2011-03-30 00:00:00,0.79,0.79,0.76,0.79,3218
...,...,...,...,...,...,...
1629294,2021-06-15 15:56:00,40271.14,40271.64,40227.39,40251.14,154
1629295,2021-06-15 15:57:00,40256.86,40326.39,40245.86,40308.39,158
1629296,2021-06-15 15:58:00,40312.14,40383.64,40273.96,40345.39,166
1629297,2021-06-15 15:59:00,40346.36,40453.74,40327.36,40406.24,131
1629298,2021-06-15 16:00:00,40406.24,40419.24,40325.75,40378.25,143

In [5]:
# Find Time_Related Column for dtypes not in pandas.datetime
'''Edit me later for all Time_Related headings'''
for column in frames[0].columns:
    if 'time' in column:
        t_col = column
    else:
        pass

# Check
t_col

'time'

In [6]:
# Convert Time_Related Column to pandas.datetime Object
'''Edit me later to combine both date and time'''
for frame in frames:
    frame[t_col] = pd.to_datetime(frame[t_col])

# Check
frames[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629299 entries, 0 to 1629298
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   time         1629299 non-null  datetime64[ns]
 1   open         1629299 non-null  float64
 2   high         1629299 non-null  float64
 3   low          1629299 non-null  float64
 4   close        1629299 non-null  float64
 5   tick_volume  1629299 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 74.6 MB

In [7]:
# Set Time-Related Column as Index
for frame in frames:
    frame.set_index(t_col, inplace=True)

# Check
frames[0].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1629299 entries, 2011-03-24 00:00:00 to 2021-06-15 16:00:00
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   open         1629299 non-null  float64
 1   high         1629299 non-null  float64
 2   low          1629299 non-null  float64
 3   close        1629299 non-null  float64
 4   tick_volume  1629299 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 74.6 MB

In [8]:
# Combining Dataframes into One Large Dataframe
df = pd.concat(frames)

# Check
length = 0
for frame in frames:
    length = length + len(frame)
len(df) == length

True

In [9]:
# Reordering Large Dataframe
df.sort_index(inplace=True)

In [10]:
# Checking Dataframe Content
print(df.head())
print(df.tail())
print(df.value_counts())
print(df.isna().sum())
print ('length =', len(df))

            open  high   low  close  tick_volume
time
2011-03-20  0.83   0.9  0.82   0.89        18828
2011-03-24  0.83   0.9  0.82   0.87        14009
2011-03-24  0.83   0.9  0.82   0.87        14009
2011-03-24  0.83   0.9  0.82   0.87        14009
2011-03-24  0.83   0.9  0.82   0.87        14009
                         open      high       low     close  tick_volume
time
2021-06-15 16:00:00  40406.24  40419.24  40281.05  40291.96          672
2021-06-15 16:00:00  40406.24  40419.24  40150.14  40265.89         3997
2021-06-15 16:00:00  40406.24  40419.24  40206.39  40230.64         1981
2021-06-15 16:00:00  40406.24  40419.24  39704.99  40186.89        27306
2021-06-15 16:00:00  40406.24  40419.24  40150.14  40282.89         7118
open      high      low       close     tick_volume
7349.00   7349.00   7349.00   7349.00   1              198
7675.00   7675.00   7675.00   7675.00   1               83
7424.50   7424.50   7424.50   7424.50   1               71
7341.00   7341.00   7341.00   7341.00   1               71
7326.00   7326.00   7326.00   7326.00   1               70
                                                      ...
10161.79  10187.29  10141.79  10146.79  25865            1
                    10151.29  10182.79  8955             1
          10188.29  10158.79  10185.29  8955             1
          10225.29  10129.29  10184.29  102460           1
0.00      8456.05   0.00      8456.05   845606           1
Length: 2122329, dtype: int64
open           0
high           0
low            0
close          0
tick_volume    0
dtype: int64
length = 2166732

<i>Dataframe Content <b>Notes:</b></i>
1. Some days are skipped --> Find a way to look for skipped dates.
2. Duplicates present --> Find a way to look for duplicates.
3. Same day, different values --> Find a way to look for days with multiple timestamps or varied values.
Unvaried data due to collection, but also good to note that cryptocurrency market is 24/7 so day close becomes day open.

In [11]:
# Resampling Dataframe
# Method automatically removes duplicates.
# Save first value if applicable (Taken @ 00:00:00 Timestamp).
# Backwards fill any missing data.
DF = df.resample('D').first().bfill().ffill()

# Check
'''Edit this check after addressing DataFrame Content Notes'''
print ('length =', len(df))

length = 2166732

In [12]:
# Export Dataframe into working directory
DF.to_csv('data.csv')